[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.6"


[packages]

dataset = "*"
"psycopg2" = "*"
python-telegram-bot = "*"
pytz = "*"
libru = "*"


[dev-packages]

