alembic==0.9.1
appdirs==1.4.2
beautifulsoup4==4.5.1
bs4==0.0.1
chardet==2.3.0
dataset==0.8.0
future==0.16.0
Mako==1.0.6
MarkupSafe==0.23
normality==0.4.0
packaging==16.8
psycopg2==2.7
pyparsing==2.1.10
python-editor==1.0.3
python-telegram-bot==3.3
pytz==2015.7
PyYAML==3.12
requests==2.9.1
six==1.10.0
SQLAlchemy==1.1.6
telegram==0.0.1
