BOT_TOKEN='yourtoken' # the token you get from botfather
MAINTAINER_ID='' # the chat_id of the maintainer, used to alert about possible errors.
                 # leave empty to disable this feature.
                 # note that leaving empty also disables the /sendto command